//--------------------------------------------------------------------------------------------------------------------------------------
// CONTAINER OBJECT
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Constrains the content within the width of a page. Typically used with o-layout and width utilities to
form a grid system.
*/


// EXTEND STYLES
//--------------------------------------------------------------------------------------------------------------------------------------

.o-container {
	padding-left:$gutter / 2;
	padding-right:$gutter / 2;
}

@include bp(lg3){
	.o-container {
		max-width:rem(1570px);
	}
} 