{# Define page information which feeds into header template #}
{% set title = "Articles - Luke Harrison" %}
{% set description = "A list of published articles by Luke Harrison on web design, web development and more." %}
{% set slug = "articles" %}
{% set assetsPath = "../" %}

{# Define page specific ogTags #}
{% set ogTags %}
<meta property="og:url" content="http://www.lukeharrison.net/articles/published" />
{% endset %}

{# Inject Header Template #}
{% include "partials/header.html" %}

{# Header #}
<section id="content-start" class="u-background-red u-align-center">
	<div class="o-box o-box--spacing-regular o-box--spacing-large@md o-box--spacing-huge@lg o-box--spacing-balance u-padding-horizontal-none">
		<div class="o-container">
			<div class="o-layout">
				<div class="o-layout__item u-10/12@md u-offset-1/12@md u-10/16@lg3 u-offset-3/16@lg3 u-type-white">
					<h1 class="c-type-charlie u-bold c-type--height-reduced u-margin-bottom-reduced u-uppercase">Articles</h1>
					<p class="c-type-delta u-normal u-padding-horizontal-large@md u-padding-horizontal-giga@lg">Occasionally I write about web development if I've learned something new or want to share something neat.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="o-container">
		{# Tabs #}
		<ul class="o-list-inline c-tabs c-tabs--red c-tabs--fixed u-padding-bottom-small@max-md3">
			<li class="o-list-inline__item c-tabs__item">
				<a href="/articles" class="c-type-delta"><span class="u-position-relative">Blog Posts</span></a>
			</li>
			<li class="o-list-inline__item c-tabs__item is-active">
				<a href="/articles/published" class="c-type-delta"><span class="u-position-relative">Published</span></a>
			</li>
		</ul>
	</div>
</section>

<section class="o-box o-box--spacing-regular o-box--spacing-huge@md o-box--spacing-balance u-padding-horizontal-none">
	<div class="o-container">

		{# Loop through published and render #}
		{% for item in published %}
			<section class="o-layout o-layout--fit-height c-published-block">
				<div class="o-layout__item c-published-block__title u-4/12@md u-3/12@md3 u-offset-1/12@md3 u-3/16@lg3 u-offset-3/16@lg3 u-padding-right-regular@md u-padding-right-large@md3 u-nudge-top-micro u-align-center@max-md">
					{% if item.logoSVG %}
						<svg class="{{item.logoClass}} u-display-block u-margin-bottom-small u-align-center-block@max-md u-margin-bottom-regular@md"><use xlink:href="#{{item.logo}}"></use></svg>
					{% else %}
						<img src="{{item.logo}}" class="{{item.logoClass}} u-display-block u-align-center-block@max-md u-margin-bottom-small u-margin-bottom-regular@md" alt="{{item.title}}">
					{% endif %}
					<div class="u-display-inline-block u-8/12@sm2 u-12/12@md"><em>"{{item.description}}"</em></div>
				</div>
				<div class="o-layout__item c-published-block__entries u-8/12@md u-7/12@md3 u-7/16@lg3 u-border-left-regular@md u-border-light-grey u-padding-left-regular@md u-padding-left-large@md3">
					<div class="o-box o-box--spacing-regular@max-md u-padding-horizontal-none u-padding-bottom-none@max-md">
						{% for entry in item.entries %}
							<div class="c-published-block__entry">
								<p class="u-margin-bottom-none">{{entry.subtitle}}</p>
								<h2 class="c-type-echo u-bold u-margin-bottom-tiny u-margin-bottom-reduced@md">{{entry.title}}</h2>
								<p>{{entry.description}}</p>
								<a href="{{entry.url}}" class="c-link c-link--red u-bold" target="_blank">{{entry.urlText}}</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</section>
		{% endfor %}


	</div>
</section>

{# Inject Footer Template #}
{% include "partials/footer.html" %}
