title= name

meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
meta(name='description', content=description)
meta(property='og:locale', content='en_GB')
meta(property='og:type', content='website')
meta(property='og:title', content=description)
meta(property='og:description', content=description)
meta(property='og:url', content='http://www.lukeharrison.net')
meta(property='og:site_name', content='Luke Harrison')
meta(property='og:image', content='http://www.lukeharrison.net/share.png')
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='@WebDevLuke')
meta(name='twitter:domain', content='Luke Harrison')
meta(name='twitter:creator', content='@WebDevLuke')

link(rel='icon', type='image/ico', href='img/favicon.ico')
link(rel='apple-touch-icon', href='/img/apple-touch-icon.png')
link(rel='stylesheet', type='text/css', href='css/style.min.css')
link(rel='canonical', href='http://www.lukeharrison.net')
link(rel='publisher', href='https://plus.google.com/u/0/111391854319047457378/about')

<!--[if lt IE 9]>
link(rel='stylesheet', type='text/css', href='css/ie8.min.css')
script(src='js/html5shiv3.7.3.min.js')
script(src='js/respond.min.js') 
<![endif]-->