header
	div(class="mobile-logo")
		svg(class="icon icon-logo")
			use(xlink:href='#icon-logo') 
		strong Luke Harrison
		|Web Designer &amp; #[span(class="nowrap") Front-end Developer]
	nav
		ul
			li(class="outer nav--logo")
				span(class="inner")
					svg(class="icon icon-logo")
						use(xlink:href='#icon-logo')
					span(class="icon icon-logo no-svg")
					span(class="logo-text")
						strong Luke Harrison 
						|Web Designer &amp; #[span(class="nowrap") Front-end Developer]
			li(class="outer nav--about")
				span(class="arrow")
					span
				span(class="inner")
					a(href="/") About
			li(class="outer nav--portfolio")
				span(class="arrow")
					span
				span(class="inner")
					a(href="/portfolio") Portfolio
			li(class="outer nav--contact")
				span(class="arrow")
					span
				span(class="inner")
					a(href="/contact") Contact