header
	div.mobile-logo
		svg.icon.icon-logo
			use(xlink:href='#icon-logo') 
		strong Luke Harrison
		|Web Designer &amp; Front-end Developer
	nav(class=slug)
		ul
			li.outer.nav--logo
				span.inner
					svg.icon.icon-logo
						use(xlink:href='#icon-logo') 
					strong Luke Harrison
					|Web Designer &amp; Front-end Developer
			li.outer.nav--about
				span.arrow
					span
				span.inner
					a(href="/") About
			li.outer.nav--portfolio
				span.arrow
					span
				span.inner
					a(href="/portfolio") Portfolio
			li.outer.nav--contact
				span.arrow
					span
				span.inner
					a(href="/contact") Contact