doctype html
html(lang='en')

	head

		- var name = "My top 5 memories from growing up with Web Design - Luke Harrison"
		- var slug = "articles" 
		- var description = "With The World Wide Web recently celebrating it 25th anniversary, I've decided to take a trip down memory lane to recall the memories I have of growing up with web design as one of my major hobbies."

		include ../partials/header

	body(class="loading " + slug)

		include ../../img/master.svg
		include ../partials/loader
		include ../partials/navigation

		section(class="banner banner--articles") 
			h1(class="header--lrg article-header") My top 5 memories from growing up with Web Design
			h2(class="header--sml") Posted on 15th March 2014

		section(class="articles__list unit-scale")
			div(class="container")
				div(class="med-clear med10 med-offset1 lrg8 lrg-offset2 xxxlrg-clear xxxlrg8 xxxlrg-offset4") 

					div(class="article__body")
						include:markdown ../../articles/2014-03-15-5-memories-web-design/copy.md
	
					div(id="disqus_thread") 
						script.
							/**
							 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
							 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
							
							var disqus_config = function () {
									this.page.url = "http://www.lukeharrison.net/articles/5-memories-web-design";  // Replace PAGE_URL with your page's canonical URL variable
									//this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
							};
							(function() { // DON'T EDIT BELOW THIS LINE
								var d = document, s = d.createElement('script');
								s.src = '//webdevluke.disqus.com/embed.js'; 
								s.setAttribute('data-timestamp', +new Date());
								(d.head || d.body).appendChild(s);
							})();

						script(id="dsq-count-scr" src="//webdevluke.disqus.com/count.js" async) 

		include ../partials/footer