doctype html
html(lang='en')

	head

		- var name = "Articles - Luke Harrison"
		- var slug = "articles" 
		- var description = "A list of articles by Luke Harrison on web design, web development and more."

		include ../partials/header

	body(class="loading " + slug)

		include ../../img/master.svg
		include ../partials/loader
		include ../partials/navigation

		section(class="banner banner--articles") 
					h1(class="header--lrg") Articles
					h2(class="header--sml") Occasionally I write about web development if I've learned something new or want to share something neat. 

		section(class="articles__list unit-scale")
			div(class="container")
				div(class="med-clear med10 med-offset1 lrg8 lrg-offset2 xxxlrg-clear xxxlrg8 xxxlrg-offset4")

					div(class="article-item")
						h3(class="article-item__date") 8th February 2017
						h2(class="article-item__title header--med")
							a(href="/articles/component-vs-utility-classes-scalable-css") Component vs utility classes in scalable CSS

					hr

					div(class="article-item")
						h3(class="article-item__date") 15th March 2014 
						h2(class="article-item__title header--med")
							a(href="/articles/5-memories-web-design") My top 5 memories from growing up with Web Design

					hr

					a(href="/" class="article-navigation article-navigation--previous") Previous
					a(href="/" class="article-navigation article-navigation--next") Next


		include ../partials/footer