//--------------------------------------------------------------------------------------------------------------------------------------
// BORDERS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Basic classes for common border configurations. Colours listed in settings.colors.
*/


// BORDER TYPE
//--------------------------------------------------------------------------------------------------------------------------------------

[class*="u-border"] {
	border-style:solid !important;
	border-width:0 !important;
}

.u-border-none {
	border:0 !important;
}

.u-border-thin {
	border-width:rem(1px) !important;
}

.u-border-top-thin {
	border-top-width:rem(1px) !important;
}

.u-border-right-thin {
	border-right-width:rem(1px) !important;
}

.u-border-bottom-thin {
	border-bottom-width:rem(1px) !important;
}

.u-border-left-thin {
	border-left-width:rem(1px) !important;
}

.u-border-top-regular {
	border-top-width:rem(2px) !important;
}

.u-border-right-regular {
	border-right-width:rem(2px) !important;
}

.u-border-bottom-regular {
	border-bottom-width:rem(2px) !important;
}

.u-border-left-regular {
	border-left-width:rem(2px) !important;
}

@each $bp-name, $bp-value in $breakpoints {
	@include bp(#{$bp-name}) {

		.u-border-thin\@#{$bp-name}  {
			border-width:rem(1px) !important;
		}

		.u-border-top-thin\@#{$bp-name}  {
			border-top-width:rem(1px) !important;
		}

		.u-border-right-thin\@#{$bp-name}  {
			border-right-width:rem(1px) !important;
		}

		.u-border-bottom-thin\@#{$bp-name}  {
			border-bottom-width:rem(1px) !important;
		}

		.u-border-left-thin\@#{$bp-name}  {
			border-left-width:rem(1px) !important;
		}

		.u-border-top-regular\@#{$bp-name} {
			border-top-width:rem(2px) !important;
		}

		.u-border-right-regular\@#{$bp-name} {
			border-right-width:rem(2px) !important;
		}

		.u-border-bottom-regular\@#{$bp-name} {
			border-bottom-width:rem(2px) !important;
		}

		.u-border-left-regular\@#{$bp-name} {
			border-left-width:rem(2px) !important;
		}
	}
}

@each $bp-name, $bp-value in $breakpoints {
	@include bpMax(#{$bp-name}) {

		.u-border-thin\@max-#{$bp-name}  {
			border-width:rem(1px) !important;
		}

		.u-border-top-thin\@max-#{$bp-name}  {
			border-top-width:rem(1px) !important;
		}

		.u-border-right-thin\@max-#{$bp-name}  {
			border-right-width:rem(1px) !important;
		}

		.u-border-bottom-thin\@max-#{$bp-name}  {
			border-bottom-width:rem(1px) !important;
		}

		.u-border-left-thin\@max-#{$bp-name}  {
			border-left-width:rem(1px) !important;
		}

		.u-border-top-regular\@max-#{$bp-name} {
			border-top-width:rem(2px) !important;
		}

		.u-border-right-regular\@max-#{$bp-name} {
			border-right-width:rem(2px) !important;
		}

		.u-border-bottom-regular\@max-#{$bp-name} {
			border-bottom-width:rem(2px) !important;
		}

		.u-border-left-regular\@max-#{$bp-name} {
			border-left-width:rem(2px) !important;
		}
	}
}

// Border colors
@each $color-name, $color-value in $colors {
	.u-border-#{$color-name} {
		border-color:$color-value !important;
	}
}
