doctype html
html(lang='en')

	head

		- var name = "About this website - Luke Harrison"
		- var slug = "about-this-site" 
		- var description = "A rundown of all the technologies and processes which were used to build this website."

		include partials/header

	body(class="loading " + slug)

		include ../img/master.svg
		include partials/navigation

		section(class="banner banner--about-this-site") 
				h1(class="header--lrg") About this website
				h2(class="header--sml") A rundown of all the technologies and processes which were used to build this website.

				
				//- Static site generator overview
					//- Technologies used and why
				//- Browser support table (https://developer.mozilla.org/en/docs/Web/CSS/clip-path)
				//- Color pallette
				//- Fonts used
				//- Past versions of site

			
		include partials/footer
