doctype html
html(lang='en')

	head 

		- var name = "Contact - Luke Harrison"
		- var slug = "contact" 
		- var description = "If you have a question or just want to get in touch, email me using the form provided."

		include partials/header

	body(class="loading " + slug)

		include ../img/master.svg
		include partials/loader
		include partials/navigation

		section(class="banner banner--contact") 
				h1(class="header--lrg") Contact
				h2(class="header--sml") If you have questions or just want to get in touch, #[span(class="nowrap") email me] at #[a(href="mailto:luke@lukeharrison.net" class="nowrap") luke@lukeharrison.net] or use the form below.
				div(class="container")
					div(class="contact-form med-clear med10 med-offset1 lrg-clear lrg8 lrg-offset2 xxxlrg-clear xxxlrg8 xxxlrg-offset4")
						form(novalidate)
							div(data-missing="Enter a name" class="input-container")
								input(type="text" name="name" placeholder="Your name" class="input")
							div(data-missing="Enter an email address" data-format="Email address not valid" class="input-container")
								input(type="email" name="email" placeholder="Your email address" class="input input--email") 
							div(data-missing="Enter a message"  class="input-container")
								textarea(name="message" placeholder="Your message" value="" class="input")
							input(type="submit" name="submit" class="header--sml" value="Send")
						div(class="contact-form__overlay")
							span(data-success="Thanks! Your message has been sent." data-failure="Oops! Something went wrong and your message wasn't sent. Please try again or email me directly.")

			
		include partials/footer
