doctype html
html(lang='en')

	head

		- var name = "LUKE PAGE"
		- var slug = "about" 
		- var description = "Luke Harrison - Sheffield web designer and front-end developer"

		include partials/header

	body(class=slug)

		include ../img/master.svg
		include partials/navigation

		section.banner.banner--about
			div.banner-container
				div.feature.feature-lines
					div.container
						div.feature-text.feature-text--designer.med-clear.med5.xxxlrg-clear.xxxlrg5.xxxlrg-offset2 
							h1.header--lrg Designer
							h2.header--sml Creative web designer with knowledge of UX principles who solves problems with #[span(class="nowrap") user-centered] solutions.
					img(src="img/feature-lines.svg", alt="")
					img(src="img/feature-lines.png", class="no-svg" alt="")
				div.feature.feature-full
					div.container
						div.feature-text.feature-text--developer.med5.med-offset7.xxxlrg5.xxxlrg-offset9
							h1.header--lrg Developer
							h2.header--sml Front-end developer who is all about clean, efficient HTML5, CSS3 and JavaScript.
					img(src="img/feature-full.svg", alt="")
					img(src="img/feature-full.png", class="no-svg" alt="")







		script(src='js/core.min.js')

		<!--[if lt IE 9]>
		script(src='js/ie8.min.js')
		<![endif]-->
