doctype html
html(lang='en')

	head

		- var name = "Luke Harrison - Sheffield Web Designer &amp; Front-End Developer"
		- var slug = "about" 
		- var description = "Luke Harrison is a Sheffield-based Web Designer &amp; Front-End Developer who has a passion for designing beautiful, functional websites."

		include partials/header

	body(class="loading " + slug)

		include ../img/master.svg
		include partials/loader
		include partials/navigation

		section(class="banner banner--about animated")
			div(class="banner-container")
				div(class="feature feature-lines")
					div(class="container")
						div(class="feature-text feature-text--designer med-clear med5 xxxlrg-clear xxxlrg5 xxxlrg-offset2")
							h1(class="header--lrg") Designer
							h2(class="header--sml") Creative web designer with knowledge of UX principles who solves problems with #[span(class="nowrap") user-centered] solutions.
					img(src="img/feature-lines.svg", alt="")
					img(src="img/feature-lines.png", class="no-svg" alt="")
				div(class="feature feature-full")
					div(class="container")
						div(class="feature-text feature-text--developer med5 med-offset7 xxxlrg5 xxxlrg-offset9")
							h1(class="header--lrg") Developer
							h2(class="header--sml") Front-end developer who is all about clean, efficient HTML5, CSS3 and JavaScript.
					img(src="img/feature-full.svg", alt="")
					img(src="img/feature-full.png", class="no-svg" alt="")

		section(class="about__text unit-scale")
			div(class="container")
				div(class="med-clear med6 xxxlrg-clear xxxlrg6 xxxlrg-offset2")
					h1(class="header--med") Hi, I’m Luke Harrison
					h2(class="header--sml") I’m a web designer &amp; front-end developer from Sheffield, UK with over 5 years of experience.
					p I have key skills which stretch across the project life cycle; from designing UX driven wireframes and mockups through to developing high quality code focusing on performance, responsiveness and usability.
					p I’ve always been interested in web design, first as a hobby and now as a career. I currently work at internet service provider Plusnet, where I'm working in an agile environment developing and maintaining products and services.
				div(class="med6 xxxlrg7 about__me")
					img(src="/img/me.jpg" alt="Luke Harrison, web designer and developer")

		section(class="about__skills unit-scale")
			div(class="container")
				h1(class="header--med") Key Skills

				div(class="copy text-box text-box--design med-clear med6 xlrg-clear xlrg3 xxxlrg-clear xxxlrg4")
					ul
						li #[span] Web Design
						li #[span] UX basics (Personas, Wireframe etc) 
						li #[span] UI design
						li #[span] Illustration &amp; icon design
						li #[span] Photoshop, Fireworks, Illustrator
						li #[span] A/B &amp; MVT via Adobe Target			
	
				div(class="copy text-box text-box--html med6 xlrg3 xxxlrg4")
					ul
						li #[span] HTML5 &amp; CSS3
						li #[span] Mobile-first responsive design
						li #[span] BEM methodology
						li #[span] Jade / SASS / LESS preprocessors
						li #[span] Cross-browser compatibility
						li #[span] Cross-client HTML Emails
						li #[span] Optimisation techniques
						li #[span] Frameworks (Bootstrap etc)

				div(class="copy text-box text-box--js med-clear med6 xlrg3 xxxlrg4")
					ul
						li #[span] JavaScript
						li #[span] DOM API, vanilla JavaScript &amp; jQuery library
						li #[span] ReactJS &amp; AngularJS basics
						li #[span] Common patterns (Module, MVC, CommonJS etc)
						li #[span] Build systems (Gulp, Grunt)
						li #[span] ES2015 / Babel
						li #[span] Optimisation techniques

				div(class="copy text-box text-box--misc med6 xlrg3 xxxlrg4")
					ul
						li #[span] Misc
						li #[span] GIT
						li #[span] PHP
						li #[span] Wordpress
						li #[span] Google Analytics &amp; Tag Manager
						li #[span] SEO fundamentals
						li #[span] Agile methodology (Scrum, Kanban)
						li #[span] Copywriting


		section(class="about__timeline unit-scale")
			div(class="container")

				div(class="timeline-item med-clear med6 lrg-clear lrg6 xlrg-clear xlrg3 xxxlrg-clear xxxlrg3")
					h2(class="header--med") Today
					h2(class="header--sml") Plusnet
					p I joined the internet service provider Plusnet in October 2014 as a web designer and front-end developer.
					p I work primarily on tactical marketing projects. Typically this can involve building promotions, developing sales pages to increase conversion through A/B and MVT and refining sales journeys. I also enjoy developing tools to improve my teams productivity.

				div(class="timeline-item med6 lrg6 xlrg3 xxxlrg3 xxxlrg-offset1")
					h2(class="header--med") 2012 - 2014
					h2(class="header--sml") Red HQ
					p I was brought into Red HQ at the end of 2012 to drive development of its web projects.
					p My responsibilities included the design and build of client and internal web projects, creating documentation for clients on how to use their new website, and delivering training sessions for new clients and tech support for existing ones.

				div(class="timeline-item timeline-item--sml med-clear med6 lrg-clear lrg2 xlrg2 xxxlrg2 xxxlrg-offset1")
					h2(class="header--med") 2010
					p From 2010 to 2012 I worked at ZootAlore as a web designer. My first web job out of university.

				div(class="timeline-item timeline-item--sml med6 lrg2 xlrg2 xxxlrg2 xxxlrg-offset1")
					h2(class="header--med") 2010
					p I graduated from Sheffield Hallam University with a 1:1 degree in BA (Hons) Game Design.

				div(class="timeline-item timeline-item--sml med-clear med6 lrg2 xlrg2 xxxlrg2 xxxlrg-offset1")
					h2(class="header--med") 2005
					p Learned the basics of HTML and later CSS after becoming frustrated with Dreamweaver.

				div(class="timeline-item timeline-item--sml med6 lrg2 xlrg2 xxxlrg2 xxxlrg-offset1")
					h2(class="header--med") 2004
					p Completed a work placement at Sheffield based graphic design studio The Workshop.

				div(class="timeline-item timeline-item--sml med-clear med6 lrg2 xlrg2 xxxlrg2 xxxlrg-offset1")
					h2(class="header--med") 2002
					p I built my first ever website on Yahoo Geocities. See it #[a(href="http://web.archive.org/web/20021015034847/http://www.geocities.com/neoblackmage/" target="_blank") here]. Remember to sign the guestbook!

				div(class="timeline-item timeline-item--sml med6 lrg2 xlrg2 xxxlrg2 xxxlrg-offset1")
					h2(class="header--med") 1988
					p Came into the world to the sound of angels chanting a heavenly chorus. Or not.
					

		include partials/footer
