doctype html
html(lang='en')

	head

		- var name = "LUKE PAGE"
		- var slug = "about"
		- var description = "Luke Harrison - Sheffield web designer and front-end developer"

		include partials/header

	body

		include ../img/master.svg

		include partials/navigation

		section.banner.banner--about
			div.banner-container
				div.feature.feature-lines
					img(src="img/feature-lines.svg", alt="")
				div.feature.feature-full
					img(src="img/feature-full.svg", alt="")
				div.container
					div.feature-text.feature-text--designer.clear.grid5 
						h1.header--lrg Designer
						h2.header--sml Creative web designer with knowledge of UX principles who solves problems with #[span(class="nowrap") user-centered] solutions.
					div.feature-text.feature-text--developer.grid5.offset2
						h1.header--lrg Developer
						h2.header--sml Front-end developer who is all about clean, efficient HTML5, CSS3 and JavaScript.







		script(src='js/core.min.js')

		<!--[if lt IE 9]>
		script(src='js/ie8.min.js')
		<![endif]-->
