doctype html
html(lang='en')

	head

		- var name = "Portfolio - Luke Harrison"
		- var slug = "portfolio" 
		- var description = "An overview of some of my design and development work plus a look into my side projects."
		- var portfolioCategory = "View All"

		include partials/header

	body(class="loading " + slug)

		include ../img/master.svg
		include partials/loader
		include partials/navigation
		include partials/portfolioItem
		include partials/footer