//--------------------------------------------------------------------------------------------------------------------------------------
// ICON COMPONENT
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Styles for icons
*/


// STYLES
//--------------------------------------------------------------------------------------------------------------------------------------

.c-icon {
	display:inline-block;
}

.c-icon--logo {
	width:rem(53px);
	height:rem(65px);
}

.c-icon--twitter {
	width:rem(44px);
	height:rem(38px);
}

.c-icon--linkedin {
	width:rem(40px);
	height:rem(40px);
}

.c-icon--github,
.c-icon--codepen {
	width:rem(39px);
	height:rem(39px);
}