//--------------------------------------------------------------------------------------------------------------------------------------
// PORTFOLIO ITEM COMPONENT
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Component to display portfolio item
*/


// BASE & ELEMENTS
//--------------------------------------------------------------------------------------------------------------------------------------

.c-portfolio-item {
	counter-reset: total 0 current 1;
	position:relative;
	box-sizing:border-box;
	@include clearfix();
}

.c-portfolio-item__screens {
	width:100%;
	background-color:color("light-grey");
	overflow:hidden;
	position:relative;
	user-select: none;
	transition:background-color 0.5s;
	&:focus {
		background-color:lighten(color("green"), 30%);
	}
}

.c-portfolio-item__screens.has-multiple {
	& .c-portfolio-item__controls {
		display:block;
	}
	& .c-portfolio-item__slide {
		padding-bottom:rem(50px);
	}
}

.c-portfolio-item__slide-container {
	position:relative;
	transition:left 0.5s;
	@include clearfix();
}

.c-portfolio-item__slide {
	width:100%;
	max-width:100%;
	position:relative;
	z-index:6;
	float:left;
	padding:rem(10px);
}

.c-portfolio-item__slide.is-prev {
	counter-increment: current;
}

.c-portfolio-item__slide.is-active {
	left:0;
}

.c-portfolio-item__slide-inner {
	width:100%;
	height:100%;
	border-radius:rem(10px);
	overflow:hidden;
	position:relative;
	background:color("white");
	box-shadow: $global-box-shadow;
}

.c-portfolio-item__browser {
	min-width:rem(1460px);
	height:rem(39px);
	box-shadow: 0 0 rem(5px) 0 rgba(0,0,0,0.25);
	display:block;
	position:relative;
	z-index:5;
}

.c-portfolio-item__screen {
	counter-increment: total;
	overflow:hidden;
	width:100%;
	position:absolute;
	height:calc(100% - 39px);
	border-bottom-left-radius:0.625rem;
	border-bottom-right-radius:0.625rem;
	img,
	svg {
		width:100%;
		max-width:none;
		height:auto;
		display:block;
		position:relative;
		top:0;
	}
	svg {
		height:100%;
	}
}

.c-portfolio-item__slide.has-scroll .c-portfolio-item__screen {
	//overflow:scroll;
	overflow-x: hidden;
	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.c-portfolio-spacer {
	width:100%;
	height:auto;
	display:block;
}

.c-portfolio-item__controls {
	display:none;
	position:absolute;
	font-weight:bold;
	width:rem(100px);
	left:0;
	right:0;
	bottom:0;
	margin:rem(12px) auto;
	text-align:center;
	user-select: none;
	z-index:9;
}

.c-portfolio-items__controls-arrow {
	width:rem(6px);
	height:rem(9px);
	display:inline-block;
	cursor:pointer;
}

.c-portfolio-items__controls-prev {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: rem(4.5px) rem(6px) rem(4.5px) 0;
	border-color: transparent color("type") transparent transparent;
	margin:0 rem(20px) rem(2px) 0;
}

.c-portfolio-items__controls-next {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: rem(4.5px) 0 rem(4.5px) rem(6px);
	border-color: transparent transparent transparent color("type");
	margin:0 0 rem(2px) rem(20px);
}

.c-portfolio-items__controls-num:before {
	content: counter(current) " / " counter(total)"";
}

@include bp(sm3) {
	.c-portfolio-item__screens {
		width:80%;
		margin:0 auto;
	}
}

@include bp(md) {

	.c-portfolio-item__screens.has-multiple {
		.c-portfolio-item__slide {
			padding-bottom:rem(50px);
		}
	}

	.c-portfolio-item__slide {
		padding:rem(30px);
	}

	.c-portfolio-item__screens {
		width:85%;
		margin:0 auto;
	}
}

@include bp(md3) {
	.c-portfolio-item__screens {
		width:75%;
	}
}

@include bp(lg) {

	.c-portfolio-item {

		&.is-even{
			.c-portfolio-item__screens {
				float:right;
			}
		}

		.o-container {
			width:100%;
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			height:100%;
			margin-left:auto;
			margin-right:auto;
		}

	}

	.c-portfolio-item__screens {
		width:50%;
		float:left;
		position:relative;
		z-index:10;
	}

	.c-portfolio-item__controls {
		margin:rem(13px) auto;
	}

}


@include bp(lg3) {
	.c-portfolio-item__controls {
		margin:rem(28px) auto;
	}

	.c-portfolio-item__screens.has-multiple {
		.c-portfolio-item__slide {
			padding-bottom:rem(80px);
		}
	}

	.c-portfolio-item__slide {
		padding:rem(60px);
	}

}
