/*
SASS 'Orion' Framework
Author: Luke Harrison
Web: www.lukeharrison.net
Github: https://github.com/Silveredge9/Orion-Framework
Email: luke@lukeharrison.net
*/

// This is the the primary style sheet. Before you begin please review the config partial if you wish to tweak the settings and add default styles.

// Import Standard Framework Components
@import "partials/globals";
@import "partials/reset";
@import "partials/rebuild";
@import "partials/mixins";
@import "partials/framework";

//--------------------------------------------------------------------
// PROJECT VARIABLES
//--------------------------------------------------------------------

// Colours
$about: #47b4e0;
$portfolio: #84bc44;
$contact: #f05d4a;
$border: #e4e4e4;
$type: #002010;

//--------------------------------------------------------------------
// GLOBAL CLASSES
//--------------------------------------------------------------------

body {
	font-family:'Lato', sans-serif;
	color:$type;
	padding-bottom:75px;
}

.header--lrg {
	font-size:24px;
	margin-bottom:10px;
	font-weight:bold;
}

.header--med {
	font-size:36px;
	font-weight:bold;
}

.header--sml {
	font-size:18px;
	line-height:24px;
}

.banner {
	color:#fff;
}

.nowrap {
	white-space:nowrap;
}

@include bp(sml) {
	.header--lrg {
		font-size:48px;
		margin-bottom:15px;
		font-weight:bold;
	}
}

@include bp(lrg) {

	.header--lrg {
		font-size:60px;
		margin-bottom:25px;
	}

	.header--sml {
		font-size:24px;
		line-height:30px;
	}

}

//--------------------------------------------------------------------
// NAVIGATION STYLES
//--------------------------------------------------------------------

header {

	ul {
		list-style:none;
		height:inherit;
		margin:0;
		background:#fff;
		@include clearfix; 
	}

	li {
		text-align:center;
		border-left:1px solid $border;
		box-sizing:border-box;
		float:left;
		height:inherit;
		display:table;
	}

	span.inner {
		display:table-cell;
		vertical-align:middle;
	}

	a {
		font-size:16px;
		font-weight:bold;
		text-decoration:none;
		color:inherit;
		position:relative;
		&:before {
			content:"";
			display:block;
			position:absolute;
			width:0%;
			height:2px;
			background:$type;
			bottom:-3px;
			right:50%;
			transition:width .5s
		}
		&:after {
			content:"";
			display:block;
			position:absolute;
			width:0%;
			height:2px;
			background:$type;
			bottom:-3px;
			left:50%;
			transition:width .25s
		}
	}

	nav.about .nav--about a, nav.portfolio .nav--portfolio a, nav.contact .nav--contact a, a:hover {
		&:before, &:after {
			width:50%;
		}
	}

	li.nav--about {
		border-left:0;
		& a:before, & a:after {
			background:$about;
		}
	}

	li.nav--portfolio {
		& a:before, & a:after {
			background:$portfolio;
		}
	}

	li.nav--contact {
		& a:before, & a:after {
			background:$contact;
		}
	}

	li.nav--about, li.nav--portfolio, li.nav--contact, nav.contact .nav--contact {
		width:33.3%;
	}

	nav.about .nav--about, nav.portfolio .nav--portfolio,  {
		position:relative;
		span.arrow {
			span {
				display:block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 14px 14px 0 14px;
				border-color: #ffffff transparent transparent transparent;
				position:relative;
				&:before {
					content:"";
					width:35px;
					height:10px;
					position:absolute;
					top:-24px;
					left:-17px;
					display:block;
					background:#fff;
				}
			}
			width:28px;
			height:14px;
			bottom:-14px;
			display:block;
			position:absolute;
			left:0;
			right:0;
			margin-left:auto;
			margin-right:auto;
			&:before {
				content:"";
				width: 0;
				height: 0;
				left:0;
				top:0;
				border-style: solid;
				display:block;
				border-color: #000000 transparent transparent transparent;
				border-width: 14px 14px 0 14px;
				filter: blur(2px);
				opacity:0.25;
				position:absolute;
			}

		}
	}
}

li.nav--logo, .mobile-logo {
	border-bottom:1px solid $border;
	display:none;
	width:100%;
	border-left:0;
	text-align:left;
	padding:1.5%;
	box-sizing:border-box;
	strong {
		font-size:24px;
		line-height:32px;
		font-weight:bold;
		display:block;
		margin-top:2px;
	}
	svg {
		max-width:68px;
		max-height:65px;
	}
}

@include bpMax(med, "orientation:portrait") {
	nav {
		box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.15);
		width:100%;
		position:fixed;
		bottom:0;
		height:60px;
		height:8vh;
		z-index:100;
	}
	.mobile-logo {
		display:block;
		text-align:center;
		padding:5%;
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
		border:0;
		height:auto;
		max-height:160px;
		position:absolute;
		top:0;
		background:#fff;
		z-index:10;
	}
}

@include bpMax(med, "orientation:landscape") {
	header nav {
		position:relative;
		height:auto;
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
		@include clearfix();

		ul {
			height:auto;
		}
		
		li {
			height:60px; 
		}

		li a {
			top:-2px;
		}

		li.nav--logo {
			height:auto;
			display:table;
			text-align:center;
			& .inner {
				width:100%;
			}
			& svg {
				margin-right:-1.3%;
			}
		}
	}
}

@include bp(med) {
	header nav {
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
		min-height:112px;
		height:112px;
		height:12vh;
		max-height:120px;
		ul {
			min-height:inherit;
			height:inherit;
			max-height:inherit;
		}
		li {
			min-height:inherit;
			height:inherit;
			max-height:inherit;
		}
		li a {
			top:-5px;
			font-size:24px; 
		}
		li.nav--logo {
			text-align:left;
			padding:0 1.5%;
			width:40%;
			display:table;
			border:0;
			height:inherit;
			svg {
				float:left;
				margin:-3px 4% 0 0;
			}
		}
		li.nav--about, li.nav--portfolio, li.nav--contact {
			width:20%;
		}
		li.nav--about {
			border-left:1px solid $border;
		}
	}
}

@include bp(xxlrg) {
	header nav {
		li.nav--logo {
			width:25%;
		}
		li.nav--about, li.nav--portfolio, li.nav--contact {
			width:25%; 
		}
	}
}

//--------------------------------------------------------------------
// ABOUT BANNER
//--------------------------------------------------------------------

.banner--about {
	background:#5abce3;
	position:relative;
	font-size:5px;
	overflow:hidden;
	&:after {
		content:"";
		display:block;
		width:100%;
		height:34px;
		background:#3b96ba;
		position:absolute;
		bottom:0;
	}

	.banner-container {
		position:relative;
		height:100%;
	}

	.feature {
		position:absolute;
		bottom:34px;
		width:100%;
		height:100%;
		top:0;
		& img {
			width:1099px;
			width:109.9em;
			height:384px;
			height:38.4em;
			display:none;
			position:absolute;
			bottom:34px;
			left:0;
			right:0px;
			margin-left:auto;
			margin-right:auto;
		}
	}

	.feature-lines {
		background:$about url("../img/feature-lines.svg") no-repeat left 44% bottom 34px;
		background-size: 109.9em 38.4em;
	}		

	.feature-full{
		background:#5abce3 url("../img/feature-full.svg") no-repeat right 55% bottom 34px;
		background-size: 109.9em 38.4em;
		&.inactive {
			transition: clip 1.5s, clip-path 1.5s;
		}
	}

	// Tweak background sizings

	@media (min-width: 374px) {
		.feature-lines {
			background-position: left 42% bottom 34px;
		}
		.feature-full {
			background-position: right 58% bottom 34px;
		}
	}

	@media (min-width: 550px) {
		.feature-lines {
			background-position: left 39% bottom 34px;
		}
		.feature-full {
			background-position: right 62% bottom 34px;
		}
	}

	@media (min-width: 679px) {
		.feature-lines {
			background-position: left 66% bottom 34px;
		}
		.feature-full {
			background-position: right 30% bottom 34px;
		}
	}

	@media (min-width: 667px) and (orientation:landscape) {
		.feature-lines {
			background-position: left 250% bottom 34px;
		}
		.feature-full {
			background-position: right -150% bottom 34px;
		}
	}

	@media (min-width: 700px) and (orientation:landscape) {
		.feature-lines {
			background-position: left 71% bottom 34px;
		}
		.feature-full {
			background-position: right 28% bottom 34px;
		}
	}

	.container {
		position:absolute;
		left:0;
		right:0;
		top:0;
		width:100%; 
		padding:0;
		display:none;
	}

	.feature-text {
		text-align:center;
		margin-top:6%;
		h1 {
			text-transform:uppercase;
		}
		h2 {
			box-sizing: border-box;
			padding:0 5%;
		}
	}

}

@include bp(sml) {
	.banner--about {
		font-size:6.5px;

		.feature img {
			right:0;
		}
	}
}

@include bpMax(med, "orientation:portrait") {
	.banner--about {
		height:82vh;
	}
}

@include bpMax(med, "orientation:landscape") {
	.banner--about {
		font-size:6px;
		height:350px;
	}
}

@include bp(med) {
	
	.banner--about {

		.banner-container {
			left:auto;
		}

		.feature img {
			right:-34px;
			display:block;
		}

		.container {
			display:block;
		}

		.feature-lines {
			background:$about;
		}		

		.feature-full{
			background:#5abce3;
		}

	}
}

@include bp(med, "orientation:portrait") {
	.banner--about {
		height:50vh;
		min-height:635px;
		max-height:840px;
	}
}

@include bp(med, "orientation:landscape") {
	.banner--about {
		height:88vh;
		min-height:635px;
		max-height:840px;
	}
}

@include bp(lrg) {

	.banner--about {
		font-size:8px;
		min-height:735px;
	}
}

@include bp(xxxxlrg) {
	.banner--about {
		font-size:10px;

		.feature img {
			right:-49px;
		}
	}
}