doctype html
html(lang='en')

	head

		- var name = "404 Page Not Found - Luke Harrison"
		- var slug = "404" 
		- var description = "404 page not found"

		include partials/header

	body(class="loading " + slug)

		include ../img/master.svg
		include partials/loader
		include partials/navigation
		
		section(class="banner banner--404") 
			h1(class="header--xlrg") 404
			h2(class="header--med") Page not found

		include partials/footer