{# Define page information which feeds into header template #}
{% set title = article.title + " - Luke Harrison" %}
{% set description = article.description %}
{% set slug = "articles" %}
{% set assetsPath = "../" %}

{# Define page specific ogTags #}
{% set ogTags %}
<meta property="og:url" content="https://www.lukeharrison.net/articles/{{article.slug}}" />
{% endset %}

{# Inject Header Template #}
{% include "partials/header.html" %}

{# Header #}
<section id="content-start" class="o-box o-box--spacing-regular o-box--spacing-large@md o-box--spacing-huge@lg o-box--spacing-balance u-padding-horizontal-none u-background-red u-type-white u-align-center">
	<div class="o-container">
		<div class="o-layout">
			<div class="o-layout__item u-10/12@md u-offset-1/12@md u-10/16@lg3 u-offset-3/16@lg3">
				<h1 class="c-type-charlie u-bold c-type--height-reduced u-margin-bottom-reduced">{{article.title}}</h1>
				<p class="c-type-delta u-normal u-padding-horizontal-large@md u-padding-horizontal-giga@lg">Posted on {{article.date}}</p>
			</div>
		</div>
	</div>
</section>

{# Articles List #}
<section class="o-box o-box--spacing-regular o-box--spacing-huge@md o-box--spacing-balance u-padding-horizontal-none">
	<div class="o-container">
		<div class="o-layout">
			<div class="o-layout__item u-10/12@md u-offset-1/12@md u-8/12@md3 u-offset-2/12@md3 u-8/16@lg3 u-offset-4/16@lg3">
				<article class="c-markdown u-margin-bottom-regular u-margin-bottom-huge@md">
{# We have to de-intent this here because there's a bug with nunjucks markdown which removes codeblock indents #}
{% markdown %}
{% include "partials/My-Articles/" + article.copy %}
{% endmarkdown %}
				</article>
				<div id="disqus_thread">
					<script>
						/**
						 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
						 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */

						var disqus_config = function () {
								this.page.url = "https://www.lukeharrison.net/articles/{{article.slug}}";  // Replace PAGE_URL with your page's canonical URL variable
								//this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
						};
						(function() { // DON'T EDIT BELOW THIS LINE
							var d = document, s = d.createElement('script');
							s.src = '//webdevluke.disqus.com/embed.js';
							s.setAttribute('data-timestamp', +new Date());
							(d.head || d.body).appendChild(s);
						})();
					</script>
					<script id="dsq-count-scr" src="//webdevluke.disqus.com/count.js" async></script>
				</div>

			</div>
		</div>
	</div>
</section>

{# Inject Footer Template #}
{% include "partials/footer.html" %}
