{# Define page information which feeds into header template #}
{% set title = article.title + " - Luke Harrison" %}
{% set description = article.description %}
{% set slug = "articles" %}
{% set assetsPath = "../" %}

{# Define page specific ogTags #}
{% set ogTags %}
<meta property="og:url" content="https://www.lukeharrison.net/articles/{{article.slug}}" />
{% endset %}

{# Inject Header Template #}
{% include "partials/header.html" %}

{# Header #}
<section id="content-start" class="o-box o-box--spacing-regular o-box--spacing-large@md o-box--spacing-huge@lg o-box--spacing-balance u-padding-horizontal-none u-background-red u-type-white u-align-center">
	<div class="o-container">
		<div class="o-layout">
			<div class="o-layout__item u-10/12@md u-offset-1/12@md u-10/16@lg3 u-offset-3/16@lg3">
				<h1 class="c-type-charlie u-bold c-type--height-reduced u-margin-bottom-reduced">{{article.title}}</h1>
				<p class="c-type-delta u-normal u-padding-horizontal-large@md u-padding-horizontal-giga@lg">Posted on {{article.date}}</p>
			</div>
		</div>
	</div>
</section>

{# Articles List #}
<section class="o-box o-box--spacing-regular o-box--spacing-huge@md o-box--spacing-balance u-padding-horizontal-none">
	<div class="o-container">
		<div class="o-layout">
			<div class="o-layout__item u-10/12@md u-offset-1/12@md u-8/12@md3 u-offset-2/12@md3 u-8/16@lg3 u-offset-4/16@lg3">
				<article class="c-markdown u-margin-bottom-regular u-margin-bottom-huge@md">
{# We have to de-intent this here because there's a bug with nunjucks markdown which removes codeblock indents #}
{% markdown %}
{% include "partials/My-Articles/" + article.copy %}
{% endmarkdown %}
				</article>
			</div>
		</div>
	</div>
</section>

{# Inject Footer Template #}
{% include "partials/footer.html" %}
