//--------------------------------------------------------------------------------------------------------------------------------------
// HR STYLES
//--------------------------------------------------------------------------------------------------------------------------------------

/*
Set basic styles for HR element
*/

hr {
	background-color:color("light-grey");
	border:0;
	height:rem(2px);
	margin:0 rem(-15px);
}

@include bp(md) {
	hr {
		margin:0 rem(-30px);
	}
}